.card-curso-container {
    display: flex;
    flex-direction: column;
    gap: 52px;
    background-color: var(--secondary-text-color);
    height: min-content;
    width: 30%;
    border-radius: 30px;
}

.card-curso-container__info__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px ;
}

.card-curso-container__info__image img {
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}


.card-curso-container__info__content__titles {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.info__content__titles__title, .info__content__titles__subtitle {
    margin: 0px;
    color: var(--secondary-green);
}

.info__content__titles__title {
    font-family: 'Inter-Medium';
    font-size: 24px;
}

.info__content__titles__subtitle {
    font-family: 'Inter-Light';
    font-size: 16px;
}

.card-curso-container__info__content__button button {
    display: flex;
    flex-direction: column;
    border: none;
    align-items: center;
    gap: 4px;
    background-color: var(--secondary-text-color);
    color: var(--secondary-green);
}

.content__button__icon {
    color: var(--primary-green);
}

.card-curso-container__button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 24px ;
}

.card-curso-container__button-secondary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 24px ;
}

.card-curso-container__button-secondary button {
    background-color: var(--primary-green);
    color: var(--secondary-text-color);
    border: none;
    padding: 16px;
    font-size: 20px;
    height: min-content;
    width: 100%;
    border-radius: 8px;
}



.card-curso-container__button button {
    background-color: var(--primary-green);
    color: var(--secondary-text-color);
    border: none;
    padding: 16px;
    font-size: 20px;
    height: min-content;
    width: min-content;
    border-radius: 8px;
}

.button__progress {
    font-family: 'Inter-Regular';
    color: var(--secondary-green);
    margin: 0;
}

