*{
    font-family: 'Inter-Medium', sans-serif;
}

:root {
    --corPrimaria: #94065E;
    --fundoNeutro: #F7F3F5;
    --corDeContorno: #FE5D9F;
    
}

.container-geral {
    display: flex;
    align-items: normal;
    margin-top: 1rem;
    margin-left: 12%;
    position: relative; 
}   

.container-info {
    max-width: 90%;
    width: 90%;
    padding: 1.5rem;
    border-radius: 20px;
    border: 1px solid #e1dede;
    background-color: #faf9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    margin-right: 3rem;
    margin-left: 5rem;
    height: auto;
}

.infos h4 {
    color: var(--corPrimaria);
    font-family: 'Inter-Medium', sans-serif;
    font-size: 20px;
}

.infos span {
    display: block;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
    font-weight: 400;
    font-family: 'Inter-Medium', sans-serif;
}

.btn-editar-info {
    position: absolute;
    bottom: 26px; 
    /* right: 20px;  */
    display: flex;
    justify-content: flex-end;  
    
}

.btn-editar-info button {
    padding: 5px;
    width: 100px;
    cursor: pointer;
    background-color: var(--corPrimaria);
    border-color: var(--corDeContorno);
    color: white;
    border-radius: 8px;
    transition: all 0.3s ease ;
}

.btn-editar-info:hover button {
    background-color: #7A0049;
}

.sidebar.collapsed + .container-geral {
    margin-left: 5%; 
}


.sidebar {
    height: 100vh;
    width: 5%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--corPrimaria);
    transition: width 0.5s ease;
    z-index: 1000;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}