:root {
    --corPrimaria: #94065E;
    --fundoNeutro: #F7F3F5;
    --corDeContorno: #FE5D9F;
    --verdeSucesso: #4CAF50;
    --vermelhoErro: #e74c3c;
    --corDeFundo: #ececf1;
    --corInputBackground: #fafafa;
}


.container-geral {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    gap: 1.5rem;
    background-color: var(--bg-color-light);
    margin: 0 auto;
}


.container-info {
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 2rem;
    width: 100%;
    max-width: 900px; 
    margin-top: 2rem;
}

.infos h4 {
    color: var(--corPrimaria);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: center;
}


.infos label {
    font-weight: 400;
    color: #666;
    margin-bottom: 0.5rem;
    display: block;
    font-size: 14px;
}


.infos input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 16px;
    background-color: var(--corInputBackground);
    transition: border 0.3s ease, background-color 0.3s ease;
}


.infos input::placeholder {
    font-size: 14px;
    color: #aaa;
}

.infos .input-success {
    border: 1px solid var(--verdeSucesso);
    
}


.infos .input-erro {
    border: 1px solid var(--vermelhoErro);
}

.error-message {
    color: var(--vermelhoErro);
    font-size: 14px;
    margin-top: -8px;
    margin-bottom: 10px;
    font-weight: 500;
}

.btn-editar-info {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}

.btn-editar-info button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: var(--corPrimaria);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.btn-editar-info button:hover {
    background-color: #7A0049;
}

.sidebar {
    height: 100vh;
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--corPrimaria);
    transition: width 0.5s ease;
    z-index: 1000;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}


.sidebar.collapsed + .container-geral {
    margin-left: 5%;
}

@media (max-width: 768px) {
    .container-geral {
        flex-direction: column;
        padding: 1rem;
    }

    .container-info {
        padding: 1.5rem;
        width: 100%;
        max-width: 100%;
    }

    .btn-editar-info button {
        width: 100%;
        padding: 1rem;
    }

    .infos h4 {
        font-size: 20px;
    }

    .infos input {
        padding: 10px;
        font-size: 14px;
    }

    .error-message {
        font-size: 12px;
    }
}


