.bannerInfoCourse-container {
    background-color: var(--primary-green);
    padding: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    justify-content: start;
    border-radius: 20px;
}

.bannerInfoCourse-container__text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 80%;
}

.bannerInfoCourse-container-text__title {
    color: #fff;
    font-family: 'Inter-Light', sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
    margin: 0px;
}

.bannerInfoCourse-container-text__description {
    color: #fff;
    font-family: 'Inter-Extra-Light', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    margin: 0px;
}

.bannerInfoCourse-container__button {
    background-color: var(--secondary-green);
    border: 0px;
    color: #fff;
    font-size: 16px;
    padding: 16px;
    border-radius: 8px;
    width: 10%;
}

