.search-bar-container {
    width: 80%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.search-bar-container__logotipo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10%;
    cursor: pointer;
}

.search-bar-container__search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 50%;
}

.search__text {
    height: min-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 16px 24px;
    border-radius: 100px;
    background-color: #EDEBEB;
}


.search__text__input {
    width: 100%;
    background: none;
    border: none;
    color: var(--secondary-grey);
    font-size: 18px;
}

input:focus {
    outline: none;
    border: none;
}

.search__text__icon {
    color: var(--secondary-grey);
    width: 24px;
    height: 24px;  
}


.search__voice button {
    width: 48px; 
    height: 48px;
    border: none;
    background-color: #EDEBEB;
    border-radius: 50%;
    cursor: pointer;
}

.search__voice__icon {
    color: var(--secondary-grey);
    width: 24px;
    height: 24px; 
}


.search-bar-container__preferences {
    width: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

.icon-preference{
    color: var(--secondary-green);
    cursor: pointer;
}

.icon-preference:hover {
    color: var(--primary-green);
}