.navbar {
    height: 100vh;
    width: 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-green);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    position: fixed;
    transition: width 0.5s ease;
}

.navbar.expanded {
    width: 12%; 
    align-items: flex-start;
}

.menuOptions {
    height: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    padding: 24px;
    align-items: center;
    gap: 80px;
    cursor: pointer;


}

.menuOptions__primary, .menuOptions__secondary {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.menuOptions__line {
    width: 100%;
    height: 1px;
    background-color: #fff; 
   
}

.menuIcon, .menuIconLogout {
    padding: 24px;
    /* width: 100%; */
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}


.menuOptions__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.menuOptions__item__text {
    font-family: 'Inter-Medium', sans-serif;
    color: #fff;
    font-size: 18px;
    white-space: nowrap;
    
}

.active {
    background-color: #ffffff85;
    padding: 8px;
    border-radius: 8px;
}


.navbar.expanded .menuOptions .menuOptions__item {
   width: 100%;
}



