
    .banner-container {
        width: 80%;
        position: relative;
        height: 311px;
        background-image: url('../../../utils/assets/fundo-banner.svg');
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        justify-content: center;
        border-radius: 20px;
    }

    .banner-container__text {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        text-align: center;
        width: 60%;
    }

    .banner-container-text__title {
        color: #fff;
        font-family: 'Inter-Light', sans-serif;
        font-size: 30px;
        letter-spacing: 2px;
        margin: 0px;
    }

    .banner-container-text__description {
        color: #fff;
        font-family: 'Inter-Extra-Light', sans-serif;
        font-size: 20px;
        letter-spacing: 2px;
        margin: 0px;
    }

    .banner-container__button button {
        background-color: transparent;
        border: 1px solid #fff;
        color: var(--secondary-text-color);
        font-family: 'Inter-Regular', sans-serif;
        font-size: 16px;
        padding: 16px 32px;
        border-radius: 8px;
    }






