.certificates-container__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.certificates-container__content__cardCertificateList{
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 100%;
}


