:root {
  --corPrimaria: #94065E;
  --fundoNeutro: #F7F3F5;
  --corDeContorno: #FE5D9F;  
}

.form-container {
  padding: 3rem;
  border-radius: 20px;
  max-width: 75vw;
  margin: auto;
  position: relative; 
  border: 1px solid #ccc;
  background-color: #faf9f9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 1.5rem;
  max-height: 70vh; 
  overflow-y: auto; 
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-header h2 {
  margin-bottom: 20px;
  color: var(--corPrimaria);
  font-family: 'Inter-Medium', sans-serif;
}

.form-container label {
  font-family: 'Inter-Medium', sans-serif;
  color: #0e0d0d;
  font-size: 14px;
}

input:focus {
  border: 1px solid var(--corPrimaria);
}


input, textarea, select {
  display: block;
  width: 80%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid var(--corPrimaria);
}

textarea {
  height: 100px;
  width: 80%;
}

input[type="file"] {
  border: none;
}


.btn-submit {
  display: block;
  margin-top: 10px;
  padding: 10px;
  background-color: var(--corPrimaria);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #5d033a;
}

.btn-fechar {
  background-color: transparent;
  color: #9d0208;
  font-size: 20px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.btn-fechar:hover {
  color: #430a01;
}

.btn-add-modulo {
  
  margin-top: 10px;
  padding: 7px;
  background-color: var(--corPrimaria);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
}

.btn-add-modulo:hover {
  background-color: #5d033a;
}

.form-curso-criacao {
  /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
  padding: 2rem;
  border-radius: 8px;
}