.caixa-card {
    width: 100%;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; /* Alinha os cards ao topo */
    width: 100%; /* Garante que ocupe toda a largura disponível */
}

.card {
    background-color: #e5e5e5;
    margin: 10px;
    padding: 15px;
    width: 345px;
    height: 382px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card:hover {
    transform: scale(1.05);
}

.card img.foto {
    width: 85px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.card .fotoCanto {
    width: 40px; /* Ajuste para o tamanho desejado */
    height: auto; /* Mantém a proporção */
    border-radius: 50%;
    position: absolute; /* Faz com que a imagem fique dentro do card */
    top: 10px; /* Distância do topo do card */
    right: 10px; /* Distância do lado direito do card */
    z-index: 1; /* Garante que fique acima de outros elementos dentro do card */
}

.card .nome {
    font-size: 21px;
    margin: 1px 0;
    margin-bottom: 20px; /* Margem acima e abaixo do nome */
    color: #333; /* Cor do texto */
}

.card p {
    display: flex;
    font-size: 15px; /* Tamanho da fonte dos parágrafos */
    color: #0c0c0c; /* Cor do texto */
    margin: 0px 0px 10px 0px; /* Margem acima e abaixo dos parágrafos */
    width: 70%;
}

.card .p-title {
    font-size: 12px;
    margin: 3px 0px 3px 0px;
}

.card .div-btn {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 15px;
}

/* Responsividade */
@media (max-width: 768px) {
    .titulos {
        font-size: 1.5rem; /* Tamanho da fonte em telas menores */
    }
}

@media (min-width: 769px) {
    .titulos {
        font-size: 2rem; /* Tamanho da fonte em telas maiores */
    }
}

/* Ajustes adicionais para o h7, caso não esteja definido */
h7 {
    font-size: inherit; /* Faz com que o h7 herde o tamanho da fonte do seu elemento pai */
}