.profileSettings-container__content {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.profileSettings-container__content__sectionData  {
    background-color: #fff;
    padding: 32px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.sectionData__title {
    font-size: 24px;
    font-family: 'Inter-Regular';
    color: var(--secondary-green);
    letter-spacing: 4%;
    margin: 0px;
}

.sectionData__form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.sectionData__input {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.sectionData__input__nestedField {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 45%;
    gap: 8px;
    height: fit-content;
}

.sectionData__input__nestedField label {
    font-family: 'Inter-Medium', 'sans-serif';
    color: var(--primary-green);
    font-size: 16px;
}

.sectionData__input__nestedField input {
    border: 1px solid #cacaca;
    background-color: var(--bg-color-light);
    border-radius: 8px;
    padding: 16px;
    font-size: 16px;
}

.sectionData__input__error {
    color: #AA0769; 
    font-size: 14px;
    height: 20px; 
    font-family: 'Inter-Regular';
}

.sectionData__buttonSave {
    width: 30%;
    align-self: flex-start;
    border: none;
    padding: 16px;
    background-color: var(--primary-green);
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.sectionData__buttonSave:hover {
    background-color: var(--primary-green-hover);
}

.sectionData__buttonTerm {
    width: 30%;
    border: none;
    padding: 16px;
    background-color: var(--primary-green);
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
}

.sectionData__buttonTerm:hover {
    background-color: var(--primary-green-hover);
}

.sectionData__buttonDelete {
    border: none;
    background-color: #AA0769;
    padding: 16px;
    height: fit-content;
    width: 10%;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    align-self: start;
    cursor: pointer;
    margin-top: 28px;
}

.sectionData__buttonDelete:hover {
    background-color: #aa0769dc;
}

